@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
body{
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;

}
table{
    border-collapse: separate;
    width: 300px;

}
td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}